@model IEnumerable<Project_Management_System.Data.Project>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@{

    if (User.IsInRole("User"))
    {
        <a asp-action="Create">Create a new project</a>

        <h1>Projects</h1>
        <ul class="projectList">
            @foreach (var p in Model)
            {
                <div class="project">
                    <li>
                        <a href="Projects/projectView/@p.ID">
                            <div>
                                <h5>Project: @p.Name</h5>
                                <p>@p.Description</p>
                                <p>Remaining Tasks: @p.Tasks.Where(t => t.Status.Name != "Complete").Count() /  @p.Tasks.Count()</p>
                            </div>
                        </a>
                    </li>
                </div>
            }
        </ul>
    }
    else
    {
        <h1>Please Log In To View or Create New Projects.</h1>
    }
}