@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><i>The</i> Project Management System</h1>
    <div class="row">
        <div class="col-lg-6 paddedDiv">
            
            <p>Welcome to <i>The</i> Project Management System. The <i>Ultimate</i> Project Manager around.
            The Project Management System helps users to manage their projects with ease, through a simple to use and user friendly design and interface, offering helpful features such as:
            <ul class="ulArrow">
                <li class="liArrow">Templates, allowing for any form of project to be managed, from school assessments to large scale business oriented projects.</li=">
                <li class="liArrow"></li>
            </ul>
            </p>

        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-5 paddedDiv-2">
            <h4>SIGN UP NOW!</h4>
            <p>To Gain all the benefits offered by <i>The</i> Project Management System</p>
        </div>

    </div>
</div>
