/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


.ulArrow {
    position: relative;
    list-style: none;
}

.liArrow::before {
    content: '➣';
    position: absolute;
    left: 0;
}

.projectList {
    list-style-type: none;
    display: in;
   
}

.project li{
    width: calc(33.33333% - 2em);
    margin-left: 2em;
    margin-top: 3em;
    padding: 0;
    background-color: #eeeeee;
    
}


.project li {
    float: left;
    
    
}

.project {
    float: none;
    text-align: center;
}


.project li:hover, .project li:focus {
   background-color: #999999;
}



@media (min-width: 992px) {
    .paddedDiv {
        margin-top: 70px;
       
    }

    .paddedDiv-2 {
        margin-top:140px;
       
    }

}

@media (max-width: 991px) {

    .paddedDiv-2 {
        margin-top: 80px;
    }

}



.projectTaskList {
    border: 1px solid #eee;
    
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
}

    .projectTaskList li {
        margin: 0 5px 5px 5px;
        padding: 5px;
        font-size: 1.2em;
        
        background-color: lightgray;
        border: 1px solid;
        border-radius: 5px 5px;
        border-color: darkgray;
    }




.projectTaskList {
    
    height: calc(100% - 40px);
    width: inherit;
   
    background-color: whitesmoke;
}

.projectTaskList-LastItem {

    margin-bottom: 100px;
}

.projectTaskBoard {
    background-color: aliceblue;
    border: 1px solid;
    border-color: aquamarine;
    
}

.projectTaskBoard h4 {
    text-align: center;

}

.rotate-accordion-arrow {
    -moz-transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;

    text-align: end;
    float: right;
}

.rotate-accordion-arrow.down {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.nospacing {
    padding: 0px;
    margin: 0px;

}

.linebreak-hr {
    padding: 0px;
    margin: 0px;
    border-top: 1px solid gray;
    width: 100%;
}

.blue-icon {
    color: dodgerblue;
}

.rotate-45 {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.circle-icon {
    padding: 0px;
    margin: 0px;

}

.tinyText {
    font-size: x-small;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.subtask {
    font-size: medium;
    margin: 10px;
    padding: 10px;
    text-align: center;

}



.center-button {
    display: grid;
    margin:auto;
    margin-top: 5%;
    
}